.title {
  display:flex;
  color: hlsa(248, 85%, 65%, 1);
  font-size:medium;
  font-family:'Ubuntu', sans-serif;
  }
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');